<h2>Stage Name: <%= @stage.name %></h2>

<h3>Artists</h3>

  <% if @stage.artists %>
    <ul>
      <% @stage.artists.each do |artist| %>
        <li><a href="/stages/<%= @stage.id %>/artists/<%= artist.id %>"><%= artist.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no artists listed for this stage yet.</p>
  <% end %>

<h4>Add an artist:</h4>

<form action="/stages/<%= @stage.id %>/artists" method="post">
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Artist</button>
</form>

<form action="/stages/<%= @stage.id() %>" method="post">
      
  <input name="_method" type="hidden" value="patch">
  <label for="stage_name">Stage name</label>
  <input class="form-control" value="<%= @stage.name%>" id="stage_name" name="stage_name" type="text">
  <button class="btn" type="submit">Edit stage</button>
</form>

<form action="/stages/<%= @stage.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn" type="submit">Delete stage</button>
</form>
<p><a href="/stages">Return to stage list</a></p>

